@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("./assets/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("./assets/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("./assets/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  color: white;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Animations */

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  filter: blur(10px);
  transform: translateY(10px);
  opacity: 0.6;
  transition: filter 1.2s, opacity 0.2s, transform 0.5s;
}

.burger-menu-button {
  display: none;
}

body:not(.loading) p,
body:not(.loading) h1,
body:not(.loading) h2,
body:not(.loading) h3,
body:not(.loading) h4,
body:not(.loading) h5,
body:not(.loading) h6,
body:not(.loading) a,
body:not(.loading) button {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}

.aos-init {
  filter: blur(10px);
  transition-property: filter, transform, opacity !important;
}

.aos-animate {
  filter: blur(0);
  transform: translateY(0);
  opacity: 1;
}

html,
body {
  /* background: linear-gradient(-45deg, #0c0c16, #160e1d, #1e0e2d) no-repeat; */

  /* background: #360033; */

  /* background-color: rgb(15, 15, 15); */
  background: linear-gradient(to right, #02091c, #0f1a27, #07182f);

  background-attachment: fixed;
  scroll-behavior: smooth;
  scroll-snap-type: center;
  height: 100vh;
}

body {
  opacity: 1;
  overflow: auto;
  transition: opacity 0.5s;
}

body.loading {
  opacity: 0;
  overflow: hidden;
}

/* Navbar */

nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem 5rem;
  z-index: 5;
  gap: 2rem;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.01),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
}

nav h1 {
  opacity: 0 !important;
  margin-right: auto;
  filter: blur(10px) !important;
}

nav.scrolled h1 {
  filter: blur(0px) !important;
  opacity: 1 !important;
}

nav.scrolled {
  backdrop-filter: blur(20px);
}

nav a {
  line-height: 1;
}

nav a,
button,
a.button {
  text-decoration: none;
  display: block;
  width: max-content;
  max-width: 100%;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}

nav a:hover,
a.button:hover {
  opacity: 0.6;
}

button:hover {
  opacity: 0.6 !important;
}

a {
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-word;
}

/* Button */

button,
.button {
  background-color: white;
  color: black;
  padding: 0.8rem 1.5rem 0.6rem 1.5rem;
  border-radius: 5rem;
}

button.secondary {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

/* SECTIONS */

.scroll-next {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 12%;
  left: 0;
  right: 0;
  cursor: pointer;
  animation: bounce 3s infinite;
  gap: 0.2rem;
  opacity: 0.6 !important;
  text-decoration: none;
  font-size: 0.8rem;
}

.scroll-next:hover {
  opacity: 1 !important;
}

.scroll-next img {
  animation: bounceSoft 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-2px);
  }
}

@keyframes bounceSoft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-1px);
  }
}

/* Me section */

.me-section {
  display: flex;
  align-items: center;
  padding: 5rem 5rem;
  height: 90vh;
  background-image: linear-gradient(rgba(100, 36, 36, 0.15), rgba(0, 0, 0, 0));
  overflow: hidden;
}

.me-section h1 {
  font-family: "ClashDisplay-Bold";
  word-spacing: 15px;
  font-size: 4.8rem;
  margin-bottom: 1.2rem;
  text-shadow: 0 0 200px #2b627c;
}

.me-section .me-section__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translateX(-50%);
  width: 50%;
  left: 50%;
}

.me-section .me-section__img-background {
  object-position: bottom;
  margin-left: 2rem;
  height: 115vh;
  object-fit: contain;
  border-radius: 50%;
  opacity: 0.2;
  margin-right: 2rem;
  filter: grayscale(80%) brightness(3) blur(10px);
  transition: 1s opacity, 2s transform;
}

.me-section .me-section__img-background:hover {
  opacity: 0.4;
  transform: perspective(1000px) rotateX(0deg) rotateY(-4deg);
}

/* formation section */

.formation-section {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 4rem;
  background: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.02)
    )
    no-repeat;

  background-size: 400% 400%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 5rem 0 5rem;
  border-radius: 3rem;
  backdrop-filter: blur(20px);
}

.card-effect {
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out, box-shadow 0.3s ease;
}

.formation-section i {
  opacity: 0.6;
  font-size: 0.8rem;
}

.formation-section__logo {
  margin-top: 1rem;
}

table {
  margin-top: 1rem;
}

td {
  vertical-align: top;
  padding: 1rem 0;
}

td h3 {
  margin-right: 12px;
}

.projects-list {
  position: sticky;
  top: 8rem;
  /* margin: 0 0 0 0rem; */
}

.projects-timeline {
  margin-top: 2rem;
}

.projects-section {
  display: flex;
  gap: 6rem;
  margin: 3rem 4rem 0 4rem;
}

.projects-timeline__project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.2rem 0;
  gap: 0.5rem;
  text-decoration: none;
  opacity: 0.2 !important;
  word-break: keep-all !important;
}

.projects-timeline__project.active {
  opacity: 1 !important;
}

.projects-timeline__project:hover {
  opacity: 0.6 !important;
}

.projects-timeline__project small {
  opacity: 0.6;
  margin-bottom: 0.25rem;
}

.project-logo {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-bottom: 0.2rem;
}

.project-logo-and-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.project-content {
  margin-bottom: 6rem;
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project-content__top {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

p {
  margin: 0.2rem 0;
  line-height: 1.6;
  text-align: justify;
}

.project-description p {
  margin: 1.2rem 0;
}

.project-screenshots {
  margin-top: 2rem;
}

.project-screenshots-carousel {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* overflow-x: auto; */
}

.project-screenshots-carousel img {
  max-width: 20rem;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.08);
  transition: transform 0.5s;
}

.project-screenshots-carousel img:hover {
  transform: scale(1.2);
}

.project-specifications {
  gap: 1.8rem;
  margin: 1rem 0;
  display: flex;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease, filter 0.3s ease;
  filter: blur(10px);
}

.project-technos-and-versions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.project-specification div {
  margin-top: 0.5rem;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  padding: 0.8rem 1.4rem 0.5rem 1.4rem;
  border-radius: 1.5rem;
}

.project-specification div ul {
  padding: 0.2rem 1.2rem;
}

.skills-section {
  padding: 5rem 5rem;
}

.skills-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5rem;
  margin: 0;
  margin-top: 3rem;
}

.skills-category ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.skills-category li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
}

.skills-category:not(.skills-category-soft-skills) li {
  text-align: center;
  width: 70px;
}

.skills-category li img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
}

.skills-category-soft-skills ul {
  gap: 0.4rem;
  align-items: flex-start;
}

.skills-category-soft-skills li {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 1.5rem;
  padding: 0.8rem 1.4rem 0.5rem 1.4rem;
}

.hobbies-section {
  margin: 1rem 5rem;
}

.hobby {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  padding: 2.3rem 3rem 2rem 3rem;
  backdrop-filter: blur(20px);
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.05)
  );
  flex-direction: column;

  border: 1px solid rgba(255, 255, 255, 0.1);
}

.hobby svg {
  max-width: 30px;
  margin-bottom: 0.2rem;
}

.hobby h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hobby-cinema-social {
  display: flex;
  width: max-content;
  gap: 0.4rem;
  margin-top: 1.2rem;
  align-items: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 1.5rem;
  padding: 0.8rem 1.4rem 0.8rem 1.4rem;
}

.hobby-cinema-social span {
  margin-top: 0.2rem;
}

.hobby-cinema-social:hover {
  opacity: 0.6;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 5rem;
  gap: 2rem;
  margin-top: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.01),
    rgba(0, 0, 0, 0)
  );
  width: 100%;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  opacity: 0.6;
}

#image-preview {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: filter 1.2s, opacity 0.2s, transform 0.5s;
  z-index: 100;
}

#image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;
  border-radius: 10px;
}

#project-lillochat .project-logo {
  border-radius: 10px;
}
